@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --primary-color-violet: hsl(257, 40%, 49%);
    --secondary-color-softmagenta: hsl(300, 69%, 71%);
}

*, 
*::after,
*::before{
    box-sizing: border-box;
    
}

body{
    background-color: var(--primary-color-violet);
    font-family: "Open Sans", sans-serif;
    margin:0;
    padding:0;
}

a{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Poppins", sans-serif;
    margin: 0px;
}

.div--holder{
    padding:1.5rem;
    background: url("../images/bg-mobile.svg") no-repeat;
    margin: 0 auto;
}

header{
    padding: 0px 0px 2rem 0px;
}
img{
    max-width: 100%;
}


.title{
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}
.text{
    text-align: center;
    color: white;
}

.reg-container{
    text-align: center;
}
.btn{
   display: inline-block; 
   color: var(--primary-color-violet);
   background-color: white;
    width: 200px;
   padding: 10px 0px;
   border-radius: 24px;
   font-family:"Poppins", sans-serif ;
   box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, .2);
   text-align: center;
}

.btn:hover{
    background-color: var(--secondary-color-softmagenta);
    color: white;
}


footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
footer a{
    display: grid;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 100%;
    place-items:center;
    margin-right: 10px;
    border-radius: 50%;
    color: white;
}



footer a:hover{
    background-color: var(--secondary-color-softmagenta);
    color: white;
    border: 1px solid var(--secondary-color-softmagenta);
}



@media screen and (min-width: 768px){
    .div--holder{
        padding:2rem;
    }
    .logo {
        width: 200px;
    }

    .title{
        color: white;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 2rem;
    }
    .text{
        font-size: 1.5rem;
    }

    .btn{
        margin-top: 20px;
        width: 220px;
        font-size: 1.3rem;
    }

    footer{
        margin-top: 30px;
    }
    footer a{
        height: 40px;
        width: 40px;
        margin-right: 15px;
    }
    
}

@media screen and (min-width: 1024px) {
    .div--holder{
        padding:2.5rem 3rem;
        background: url("../images/bg-desktop.svg") no-repeat;
        min-height: 100vh;
        display: grid;
        grid-template-rows: 60px 1fr 60px ;
    }

    header{
        padding:0px 0px 2rem 0px;
    }

    .grid-laptop{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
    }
    
    section{
        display: flex;
        align-items: center;
    }
    section:nth-child(2){
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .title{
        font-size: 3.5rem;
        text-align: left;
    }
    .text{
        margin-top: 0px;
        font-size: 1.5rem;
        text-align: left;
        padding: 0px;
    }
   
    
    .reg-container {
       text-align: left;
       width: 100%;
    }
    .btn{
        margin-top: 7px;
        width: 220px;
        font-size: 1.2rem;
    }

    footer{
        justify-content: flex-end;
    }
}


