@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --primary-color-violet: hsl(257, 40%, 49%);
    --secondary-color-softmagenta: hsl(300, 69%, 71%);
}

*, 
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color-violet);
    font-family: "Open Sans", sans-serif;
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
}

a{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "Poppins", sans-serif;
}

.div--holder{
    padding:30px;
    background: url("../images/bg-mobile.svg") no-repeat;
}

.div--holder .logo{
    text-align: left;
}
.div--holder .logo img{
    width: 140px;
}

section{
    margin: 50px 0;
}

.div--holder .huddle-image img{
    width: 100%;
}

.main-content{
    padding-top: 30px;
}
.main-content h1{
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.main-content p{
    font-size: 1rem;
    padding-bottom: 20px;
}


.main-content .reg-container a{
   display: inline-block; 
   font-size: 15px;
   color: var(--primary-color-violet);
   background-color: white;
    width: 200px;
   padding: 10px 0px;
   border-radius: 25px;
   font-family:"Poppins", sans-serif ;
   box-shadow: 1px 2px 3px 3px rgba(0, 0, 0, .15);
}

.main-content .reg-container a:hover{
    background-color: var(--secondary-color-softmagenta);
    color: white;
}


.socials{
    display: flex;
    justify-content: center;
    width: auto;

}
.socials .social--rad{
    display: flex;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.socials .social--rad:nth-of-type(2){
    margin: 0px 10px;
}

.socials a{
   color: white;
   font-size: 16px;
}

footer, footer a{
    font-size: 13px;
    color: silver;
}


@media screen and (min-width: 768px){

    .div--holder{
        padding:40px;
    }
    .div--holder .logo img{
        width: 180px;
    }
    
    section{
        margin: 60px 0;
    }

    .main-content{
        padding-top: 35px;
    }
    .main-content h1{
        font-size: 1.9rem;
        letter-spacing: 1px;
    }
    .main-content p{
        font-size: 1.4rem;
        padding-bottom: 25px;
    }

    .main-content .reg-container a{
        font-size: 20px;
         width: 300px;
        padding: 15px 0px;
        border-radius: 25px;
        box-shadow: 2px 3px 4px 4px rgba(0, 0, 0, .15);
     }
    
     .socials .social--rad{
        height: 50px;
        width: 50px;
        margin-bottom: 15px;
    }
    .socials .social--rad:nth-of-type(2){
        margin: 0px 20px;
    }
    
    .socials a{
       font-size: 20px;
    }

    footer, footer a{
        font-size: 18px;
    }
    
}

@media screen and (min-width: 1024px) {

    .div--holder{
        padding:50px 50px 0px 50px;
        background: url("../images/bg-desktop.svg") no-repeat;
        min-height: 100vh;
    }

    .div--holder .logo img{
        width: 200px;
    }    
    
    section{
        margin: 40px 0px 0px 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
    }
    
    .main-content{
        padding-left: 30px;
        padding-top: 0px;
    }
    .main-content h1{
        font-size: 2rem;
        letter-spacing: 1px;
        margin-bottom: 0px;
    }
    .main-content p{
        font-size: 1.09rem;
        padding-bottom: 0px;
        margin: 20px 0px;
    }
    
    
    .main-content .reg-container a{
       font-size: 18px;
        width: 180px;
       padding: 14px 0px;
       border-radius: 25px;
       text-align: center;
       box-shadow: -1px 2px 3px 4px 4px rgba(0, 0, 0, .15);
    }
    

    .socials{
        justify-content: flex-end;
        margin: 0px;
    }
    .socials .social--rad{
        height: 45px;
        width: 45px;
        margin: 0px;
        border: 2px solid white;
    }
    .socials .social--rad:nth-of-type(2){
        margin: 0px 20px;
    }
    
    .socials a{
       color: white;
       font-size: 20px;
    }

    footer{
        visibility: hidden;
    }
    
}


@media screen and (min-width: 1280px) {

    .div--holder{
        padding:64px 64px 10px 64px;
        background: url("../images/bg-desktop.svg") no-repeat;
        min-height: 100vh;
    }

    .div--holder .logo img{
        width: 220px;
    }    
    
    section{
        margin: 60px 0px 0px 0px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        text-align: left;
    }
    
    .main-content{
        padding-left: 50px;
        padding-top: 0px;
    }
    .main-content h1{
        font-size: 3rem;
        letter-spacing: 1px;
        margin-bottom: 0px;
    }
    .main-content p{
        font-size: 1.4rem;
        padding-bottom: 0px;
        margin: 20px 0px;
    }
    
    
    .main-content .reg-container a{
       font-size: 20px;
        width: 250px;
       padding: 12px 0px;
       border-radius: 25px;
       text-align: center;
       box-shadow: -1px 3px 4px 5px 5px rgba(0, 0, 0, .15);
    }
    

    .socials{
        justify-content: flex-end;
        margin: 0px;
    }
    .socials .social--rad{
        height: 50px;
        width: 50px;
        margin: 0px;
        border: 2px solid white;
    }
    .socials .social--rad:nth-of-type(2){
        margin: 0px 20px;
    }
    
    .socials a{
       color: white;
       font-size: 20px;
    }

    footer{
        visibility: hidden;
    }
    
}